/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 15, 2016, 5:46:01 PM
    Author     : Admin
*/
body{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.banner{
    background-image: url('../images/Banner.png');
    height: 550px;
    padding: 100px 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: 2px solid #bcbcbc;
}
.banner span {
    font-size: 48px;
}
.or-breaker {
    color: #626262; 
    padding: 10px; 
    font-size: 20px !important;
}
.index-navbar a {
    font-size: 16px;
    color: #47aae6;
    padding: 10px;
}
.index-navbar button {
    color: #fff;
    font-size: 16px;
}
.index-navbar .popover-content a{
    font-size: 14px;
    padding:0px;
}
.inner-banner {
    background-image: url('../images/Inner-page-Banner.png');
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.footer{
    background: #3e3e3e;  
    color:#ccc; 
}

.footer a{
    color:#ccc;  
}
.glyphicon{
    cursor: pointer;
}
a{
    cursor: pointer;   
}

.nav a {
    color:#fff;
}

#myNavbar .nav a {
    color:#000;
}
.how-it-works p, li {
    font-size: 1.125em;
}


.nav a:hover {
    color: #000 ;
}

.table h3, .panel h3 {
    margin: 0; 
}

.copy_right {
    color: #fff;
}
.panel-heading .badge {
    margin-right: 10px;
    font-size: 20px;
}

/**240316**/
.footer_menu{
    margin: 0px;
    padding: 0px;
}

.footer_menu li {
    list-style-type :none;
    margin: 0px;
}

.header_menu li{
    float:left;
    padding:20px 5px;
    list-style-type :none;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

#side-bar {
    height: 100%;
    border-right: 1px solid #999;   
    background: #f5f5f5;
}

#side-bar li{
    float: none; 
}
#side-bar :hover{  
    background: #999;
    font-weight: bold;
    color: #fff;
}


#side-bar .active{  
    background: #0086b3;
    font-weight: bold;
    color: #fff;
}
#side-bar .active a{
    color: #fff;
}

#side-bar li a{
    color:#000;
    background: none;   
    border-radius: 0px;
    border: 0;
}
.checkbox-inline.no-indent,
.checkbox-inline.no-indent+.checkbox-inline.no-indent {
    margin-left: 0;
    margin-right: 10px;
}
.checkbox-inline.no-indent:last-child {
    margin-right: 0;
}
.checkbox-bold{
    font-weight : bold;
}
.list_romans{
    list-style-type:lower-roman;
}

.nav-tabs > li > a {
    color:#000 !important;
}

.btn{
    border-radius: 0px;
}

.btn-blue {
    color: #fff;
    background-color: #47abe6;
    border-color: #47abe6;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.main-menu{
    background-color: #47abe6;
}

.btn-blue:focus,
.btn-blue.focus {
    color: #fff;
    background-color:#129FEA;
    border-color: #47abe6;
}
.btn-blue:hover {
    color: #fff;
    background-color:#129FEA;
    border-color: #47abe6;
}

h2{
    color: #47abe6;  
}

h1{
    color: #47abe6;    
}

.gray{
    background-color: #fafafa;
}
.padding-25{
    padding-top:25px;
    padding-bottom: 25px;
}
.padding-10{
    padding-top:10px;
    padding-bottom: 10px;
}

.img-border{
    border: 3px solid #fff;
    box-shadow: 3px 3px 2px #ccc;
    margin-top: 10px;

}
.gray-divider {
    color: #ccc;
}
.banner-heading {
    font-family:sans-serif;
    font-size: 36px;
    color: #47abe6;
    font-weight: 400;
}
.index-heading {
    font-family:sans-serif;
    font-size: 36px;
    color: #47abe6;
    font-weight: 400;
}
.underline h2 {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
.underline h2:before{
    content: "";
    position: absolute;
    width: 110%;
    height: 1px;
    bottom: -5px;;
    left: -5%;
    border-bottom: 1px solid #47abe6;
}
.underline h2:after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 45%;
    width: 22px;
    height: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    background-color: #47abe6;
}
.underline-white h2:after{
    border: 4px solid #fff;
}
.underline-gray h2:after{
    border: 4px solid #f1f1f1;
}
.banner-sub-heading {
    font-size: 24px;
    color: #6e7e7b;
    font-weight: 300;
}
.banner-btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
}
.banner-btn:hover {
    background: none;
    border: 1px solid #47abe6;
    color: #6e7e7b;
}

#newsletter input { 
    background: #757575;
    color: #fff;
    border: 0;
    border-radius: 0;
}

#newsletter input::-webkit-input-placeholder {
    color: #fff;
} #newsletter input:-moz-placeholder {
    color: #fff;
} #newsletter input::-moz-placeholder {
    color: #fff;
} #newsletter input:-ms-input-placeholder {
    color: #fff;
}
.copyright-index {
    color: #fff;
    background: #444444;
}
.copyright-index a {
    color: #fff;
}
.copyright-index a:hover {
    text-decoration: underline;
}

.popover-content {
    width: 280px;
}
.popover-title {
    color: #337ab7;
}
.notification a{
  /*  font-size: 24px;
    color: #337ab7 !important;*/
    margin-top: -3px;
}
.notification-active a{
   /* font-size: 24px;*/
    color: red;
    margin-top: -3px;
}
.unread{
    background-color: #F5F5F5;
}
.chatWindow{
    position:fixed;
    bottom: 0;
    padding: 2px;
    background: #CCCCCC;
    right:0px;
    width:250px;
    z-index: 9999;
}

.chatWindow .panel-body{
    color:#000;
    padding:0px;
}

.chatWindow .collapsed{
    background: #ccc;
}
.chatWindow .panel-heading{
    cursor: pointer;
}

.chatWindow  .panel ,.chatWindow .panel-heading{
    border:0px;
}

.chatWindow  .panel {
    margin-bottom: 5px;
}

.chatWindow .chat-scroll{
    border:0px;
    margin:0px;
    padding:0px;
    height: 250px;
    overflow-y: scroll;
}
.chat-scroll p {
    border-bottom:1px solid #ccc;   
}

.chat-scroll p b{
    cursor: pointer;
}

.childCheckBox{
    width: 100%;
}

/**
*Media Queries for Responsiveness   
**/

@-ms-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}
@media screen and (max-width: 399px) {
    body, p {
        font-size: 16px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    .padding-25 {
        padding-top:5px;
        padding-bottom: 5px;
    }
    .banner {
        background-image: url('../images/Banner-mobile.png');
        height: 360px;
        border-bottom: none;
    }
    .logo img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
    }
    .banner-heading{
        font-size: 18px;
        padding: 80px 0 0 0;
    }
    .index-heading{
        font-size: 16px;
        padding: 20px 0 0 0;
    }
    .banner-heading span {
        font-size: 24px;
    }
    .or-breaker {
        color: #626262; 
        padding: 10px 4px; 
        font-size: 16px !important;
    }
    .index-navbar {
        text-align: center;
    }
    .btn-blue, .index-navbar button, .index-navbar a {
        font-size: 14px;
        padding: 6px 6px;
    }
    .index-navbar button {
        margin-top: 4px;
    }
    .how-it-works p, li {
        font-size: 0.9em;
    }
    .underline h2 {
        font-size: 20px;
    }
    .underline h2:before{
        content: "";
        position: absolute;
        width: 80%;
        height: 1px;
        bottom: -5px;;
        left: 10%;
        border-bottom: 1px solid #47abe6;
    }
    .underline h2:after {
        content: "";
        position: absolute;
        bottom: -13px;
        left: 40%;
        width: 17px;
        height: 17px;
        -moz-border-radius: 17px;
        -webkit-border-radius: 17px;
        border-radius: 17px;
        background-color: #47abe6;
    }
    .underline-white h2:after{
        border: 4px solid #fff;
    }
    .underline-gray h2:after{
        border: 4px solid #f1f1f1;
    }
    .video-container {
        position:relative;
        padding-bottom:56.25%;
        padding-top:30px;
        height:0;
        overflow:hidden;
    }

    .video-container iframe, .video-container object, .video-container embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
    .footer a {
        font-size: 16px;
    }
}

@media screen and (min-width: 400px) and (max-width: 499px) {
    body, p {
        font-size: 16px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    .padding-25 {
        padding-top:5px;
        padding-bottom: 5px;
    }
    .logo img{
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .banner {
        background-image: url('../images/Banner-mobile.png');
        height: 360px;
        border-bottom: none;
    }
    .banner-heading{
        font-size: 18px;
        padding: 80px 0 0 0;
    }

    .index-heading{
        font-size: 16px;
    }
    .banner-heading span {
        font-size: 24px;
    }
    .or-breaker {
        color: #626262; 
        padding: 10px 4px; 
        font-size: 16px !important;
    }
    .index-navbar {
        text-align: center;
        font-size: 18px !important;
    }
    .btn-blue, .index-navbar button, .index-navbar a {
        font-size: 14px;
        padding: 6px 6px;
    }
    .index-navbar button {
        margin-top: 4px;
    }

    .how-it-works p, li {
        font-size: 0.9em;
    }
    .underline h2 {
        font-size: 20px;
    }
    .underline h2:before{
        content: "";
        position: absolute;
        width: 80%;
        height: 1px;
        bottom: -5px;;
        left: 10%;
        border-bottom: 1px solid #47abe6;
    }
    .underline h2:after {
        content: "";
        position: absolute;
        bottom: -13px;
        left: 40%;
        width: 17px;
        height: 17px;
        -moz-border-radius: 17px;
        -webkit-border-radius: 17px;
        border-radius: 17px;
        background-color: #47abe6;
    }
    .underline-white h2:after{
        border: 4px solid #fff;
    }
    .underline-gray h2:after{
        border: 4px solid #f1f1f1;
    }
    .video-container {
        position:relative;
        padding-bottom:56.25%;
        padding-top:30px;
        height:0;
        overflow:hidden;
    }

    .video-container iframe, .video-container object, .video-container embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
    .footer a {
        font-size: 16px;
    }
}
@media screen and (min-width: 500px) and (max-width: 699px) {

    body, p {
        font-size: 16px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    .padding-25 {
        padding-top:5px;
        padding-bottom: 5px;
    }
    .banner {
        background-image: url('../images/Banner-mobile.png');
        height: 500px;
        border-bottom: none;
    }
    .logo img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: auto;
    }
    .banner-heading{
        font-size: 20px;
        padding: 160px 0 0 0;
    }
    .index-heading{
        font-size: 24px;
    }
    .banner-heading span {
        font-size: 24px;
    }
    .or-breaker {
        color: #626262; 
        padding: 10px 4px; 
        font-size: 16px !important;
    }
    .index-navbar {
        text-align: center;
    }
    .btn-blue, .index-navbar button, .index-navbar a {
        font-size: 16px;
        padding: 6px 6px;
    }
    .index-navbar button {
        margin-top: 4px;
    }
}

@media screen and (min-width: 700px) and (max-width: 899px) {
    body, p {
        font-size: 16px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    .padding-25 {
        padding-top:25px;
        padding-bottom: 25px;
    }

    .banner {
        background-image: url('../images/Banner.png');
        height: 300px;
        border-bottom: none;
    }
    .banner-heading {
        font-size: 20px;
        width: 50%;
        margin-top: -20px;
    }
    .banner-heading {
        padding: 0 0 50px 0;
    }

    .index-heading{
        font-size: 16px;
    }
    .banner-heading span {
        font-size: 26px;
    }
    .or-breaker {
        color: #626262; 
        padding: 8px 10px; 
        font-size: 18px !important;
    }

    .btn-blue, .index-navbar button, .index-navbar a {
        font-size: 16px;
        padding: 8px 10px;
    }
    .index-navbar button {
        margin-top: 4px;
    }

    .how-it-works p, li {
        font-size: 0.9em;
    }
    .underline h2 {
        font-size: 20px;
    }
    .underline h2:before{
        content: "";
        position: absolute;
        width: 80%;
        height: 1px;
        bottom: -5px;;
        left: 10%;
        border-bottom: 1px solid #47abe6;
    }
    .underline h2:after {
        content: "";
        position: absolute;
        bottom: -13px;
        left: 40%;
        width: 17px;
        height: 17px;
        -moz-border-radius: 17px;
        -webkit-border-radius: 17px;
        border-radius: 17px;
        background-color: #47abe6;
    }
    .underline-white h2:after{
        border: 4px solid #fff;
    }
    .underline-gray h2:after{
        border: 4px solid #f1f1f1;
    }

    .footer a, .footer th {
        font-size: 14px;
    }
}
@media screen and (min-width: 900px) and (max-width: 1000px) {
    body, p {
        font-size: 16px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    .padding-25 {
        padding-top:25px;
        padding-bottom: 25px;
    }

    .banner {
        background-image: url('../images/Banner.png');
        height: 350px;
        border-bottom: none;
    }
    .banner-heading {
        font-size: 26px;
        width: 50%;
        margin-top: -20px;
        margin-left: -5%;
    }
    .banner-heading {
        padding: 0 0 50px 0;
    }
    .banner-btn-group {
        margin-top: -5%;
        text-align: left;
    }
    .index-heading{
        font-size: 16px;
    }
    .banner-heading span {
        font-size: 30px;
    }
    .or-breaker {
        color: #626262; 
        padding: 8px 10px; 
        font-size: 18px !important;
    }

    .btn-blue, .index-navbar button, .index-navbar a {
        font-size: 16px;
        padding: 8px 10px;
    }
    .index-navbar button {
        margin-top: 4px;
    }

    .how-it-works p, li {
        font-size: 0.9em;
    }
    .underline h2 {
        font-size: 20px;
    }
    .underline h2:before{
        content: "";
        position: absolute;
        width: 80%;
        height: 1px;
        bottom: -5px;;
        left: 10%;
        border-bottom: 1px solid #47abe6;
    }
    .underline h2:after {
        content: "";
        position: absolute;
        bottom: -13px;
        left: 40%;
        width: 17px;
        height: 17px;
        -moz-border-radius: 17px;
        -webkit-border-radius: 17px;
        border-radius: 17px;
        background-color: #47abe6;
    }
    .underline-white h2:after{
        border: 4px solid #fff;
    }
    .underline-gray h2:after{
        border: 4px solid #f1f1f1;
    }

    .footer a {
        font-size: 14px;
    }
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.cls-border-1{
    border: 1px solid #ccc;
    padding-top: 10px;
}

.comment-head{
    font-size: 18px;
    margin-bottom: 10px;
}

.border-bottom{
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}




