body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:722px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:182px;
  top:295px;
  width:100px;
  height:25px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1 {
  position:absolute;
  left:116px;
  top:70px;
  width:53px;
  height:15px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:92px;
  top:20px;
  width:630px;
  height:18px;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:18px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:119px;
  top:144px;
  width:50px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:182px;
  top:140px;
  width:200px;
  height:22px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7_input:disabled {
  color:grayText;
}
#u8 {
  position:absolute;
  left:126px;
  top:176px;
  width:36px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:182px;
  top:172px;
  width:200px;
  height:22px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10_input:disabled {
  color:grayText;
}
#u11 {
  position:absolute;
  left:144px;
  top:207px;
  width:28px;
  height:15px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:182px;
  top:204px;
  width:200px;
  height:22px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13_input:disabled {
  color:grayText;
}
#u14 {
  position:absolute;
  left:188px;
  top:55px;
  width:194px;
  height:65px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:65px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:182px;
  top:245px;
  width:200px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:126px;
  top:250px;
  width:52px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
