body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:504px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:220px;
  top:110px;
  width:42px;
  height:15px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:280px;
  top:105px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:210px;
  top:40px;
  width:294px;
  height:21px;
  font-size:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:21px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:330px;
  top:155px;
  width:100px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
